@import url('https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&display=swap');

:root {
	--hue: 60;
	--sat: 100%;
	--lum: 50%;
	--font: 'Recursive', Arial, Helvetica, sans-serif;
}
